# Keyboard Layout
# setxkbmap -model pc105 -layout us,latam -variant intl, -option caps:capslock &

export XDG_CURRENT_DESKTOP=xmonad
eval $(/usr/bin/gnome-keyring-daemon --start --components=pkcs11,secrets,ssh)
export SSH_AUTH_SOCK

# setxkbmap -model pc105 -layout latam,us -variant ,intl option grp:alt_shift_toggle &
setxkbmap -model pc105 -layout es,us -variant ,intl option grp:alt_shift_toggle &

# Wallpaper
nitrogen --restore &

# Compositor
picom -f &
